USE [master]
GO
/****** Object:  Database [BanOTo]    Script Date: 19/09/2018 2:22:06 CH ******/
CREATE DATABASE [BanOTo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanOTo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BanOTo.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BanOTo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BanOTo_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanOTo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanOTo]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 19/09/2018 2:22:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[TenCongTy] [text] NULL,
	[QuocGia] [text] NOT NULL,
	[DiaChi] [text] NOT NULL,
	[MaBuuDien] [text] NULL,
	[Tinh_ThanhPho] [text] NOT NULL,
	[SDT] [char](12) NOT NULL,
	[Email] [char](50) NOT NULL,
	[Note] [text] NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TongCong] [float] NOT NULL,
	[TongPhu] [text] NOT NULL,
	[HinhThucThanhToan] [text] NOT NULL,
	[ID_TK] [int] NOT NULL,
	[ID_Xe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 19/09/2018 2:22:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXe](
	[ID_Hang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[Logo] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 19/09/2018 2:22:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TK] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[Email] [char](50) NOT NULL,
	[Password] [char](30) NOT NULL,
	[SDT] [char](12) NOT NULL,
	[Tinh_ThanhPho] [nvarchar](50) NOT NULL,
	[Quan_Huyen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[LoaiTK] [nvarchar](10) NOT NULL,
	[TrangThaiTK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 19/09/2018 2:22:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Xe](
	[ID_Xe] [int] IDENTITY(1,1) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[NgayDang] [datetime] NOT NULL,
	[KhuVuc] [nvarchar](100) NOT NULL,
	[Anh] [text] NOT NULL,
	[Gia] [float] NOT NULL,
	[TenChuXe] [nvarchar](30) NOT NULL,
	[SDT] [char](12) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[KieuDang] [nvarchar](50) NOT NULL,
	[MauSac] [nvarchar](10) NOT NULL,
	[XuatXu] [nvarchar](20) NOT NULL,
	[SoCua] [int] NOT NULL,
	[NhienLieu] [nvarchar](10) NOT NULL,
	[SoCho] [int] NOT NULL,
	[LoaiHopSo] [nvarchar](20) NOT NULL,
	[SoKm] [int] NOT NULL,
	[GioiThieu] [text] NULL,
	[CongXuat] [char](50) NOT NULL,
	[MomemXoan] [char](50) NOT NULL,
	[TruyenDong] [nvarchar](30) NOT NULL,
	[DungTich] [int] NOT NULL,
	[KichThuoc_DxRxC_] [char](50) NOT NULL,
	[ChieuDaiCoSo] [float] NOT NULL,
	[BanKinhQuayDau] [float] NOT NULL,
	[KhoangSangGam] [float] NOT NULL,
	[HeThongTreoSau] [nvarchar](100) NOT NULL,
	[TrongLuongKhongTai] [float] NOT NULL,
	[Mam_Vanh] [nvarchar](50) NOT NULL,
	[KichThuocLopTruoc] [char](30) NOT NULL,
	[KichThuocLopSau] [char](30) NOT NULL,
	[PhanhTruoc] [nvarchar](10) NOT NULL,
	[PhanhSau] [nvarchar](10) NOT NULL,
	[TieuThuNhienLieu] [float] NOT NULL,
	[TangAp] [nvarchar](5) NOT NULL,
	[DieuHoa] [text] NULL,
	[CuaSoTroi] [text] NULL,
	[DVD_LCD] [text] NULL,
	[JackCamLoa] [text] NULL,
	[LopSo-Cua] [text] NULL,
	[TuiKhi] [text] NULL,
	[Cameralui] [text] NULL,
	[CamBienLui] [text] NULL,
	[ChongBoCungPhanh] [text] NULL,
	[PhanBoLucPhanhDienTu] [text] NULL,
	[TroLucPhanhKhanCap] [text] NULL,
	[HeThongHoTroKhoiDong] [text] NULL,
	[NoiDangKy] [text] NULL,
	[PhiTruocBa] [text] NULL,
	[PhiDangKiem] [text] NULL,
	[PhiDuongBo] [text] NULL,
	[BaoHiemDanSu] [text] NULL,
	[PhiSangTen] [text] NULL,
	[TongPhi] [text] NULL,
	[BanDo] [text] NULL,
	[ID_Hang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Xe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HangXe] ON 

INSERT [dbo].[HangXe] ([ID_Hang], [TenHang], [Logo]) VALUES (1, N'Toyota', N'image\Logo\toyota.jpg')
INSERT [dbo].[HangXe] ([ID_Hang], [TenHang], [Logo]) VALUES (2, N'Ford', N'image\Logo\ford.jpg')
INSERT [dbo].[HangXe] ([ID_Hang], [TenHang], [Logo]) VALUES (3, N'Hyundai', N'image\Logo\hyundai.jpg')
SET IDENTITY_INSERT [dbo].[HangXe] OFF
SET IDENTITY_INSERT [dbo].[Xe] ON 
/*Hang 1*/
/*Hang 2*/
/*Hang 5*/

/*Hang 6*/

/*Hang 9*/


SET IDENTITY_INSERT [dbo].[Xe] OFF
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TaiKhoan] ([ID_TK])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([ID_Xe])
REFERENCES [dbo].[Xe] ([ID_Xe])
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD FOREIGN KEY([ID_Hang])
REFERENCES [dbo].[HangXe] ([ID_Hang])
GO
USE [master]
GO
