/*basic*/

body, html{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.list-inline{
    padding: 0;
    margin: 0;
    list-style:  none;
}
.list-inline li{
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.site-btn{
}

.btn{
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 16px ;
    padding: 0 30px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 42px;
    cursor: pointer;
    transition: all .3s;
}
.btn-red{
    background: #d82222;
}
.btn-red:hover{
    background: #981212;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
}
.row::after{
    display: block;
    content:"";
    clear: both;
}

img{
    max-width: 100%;
    vertical-align: top;
}

.clear{
    clear: both;
}

.col-25{
    width: 25%;
    float: left;
}

.col-55{
    width: 55%;
    float:left;
}
.col-45{
    
    width: 45%;
    float:left;
}

.col-50{
    width: 50%;
    float: left;
}

.col-30{
    width:30%;
    float: left
}
.col-70{
    width: 70%;
    float: left;
}

.ema_title {
    background: #f5f5f5;
    border: solid 1px #eee;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.ema_title:before{
    
    border: solid 1px #ccc;
    background: #f5f5f5;
    content:"";
    position: absolute;
    height: 28px;
    width: 8px;
    top: 5px;
    left: -5px;

}
.ema_title:after{
    content: "";
    display: block;
    clear: both;
}

.ema_txt {
    color: #3b89c9;
    float: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 0;
    position: relative;
    text-indent: 15px;
}

p{
    font-size: 13px;
    line-height: 20px;
}

ul{
    padding: 0;
    margin: 0;
}

.fright{
    float: right;
}
.fleft{
    float: left;
}
/*-------------------custom---------------*/

/*header*/
header{
    padding-top:15px;
}
.logo-site {
    float: left;
    width: 25%;
}

.banner-site {
    float: right;
    width: 75%;
}
.banner-site img{
    width:100%;
}

nav{
    background-color: #189eff;
}
.menu li{
    color: #fff;
}
.menu li:last-child{
    float: right;
    position:relative;
}
.menu li:last-child>a{
    padding: 0;
}
.menu li::after{
    display: block;
    content: "";
    clear: both;
}
.menu li a{
    display: inline-block;
    height: 45px ;
    line-height: 45px;
    padding: 0 20px;
}

.menu>li:hover>a{
    background-color: #008aee;
}

.menu>li:last-child ul{
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 285px;
    padding-top: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #5095ff;
    z-index: 2;
}
.menu>li:last-child:hover ul{
    display: block;
}

.acc-guest li {
    margin-bottom: 11px;
    padding: 0 15px 0;
    width:100%;
}
.acc-guest li>a {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 40px; */
}
.login-link a {
    background-color: #fdd835;
    color: #444;
}
.login-link a, .register-link a {
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.register-link a {
    background-color: #189eff;
}
.login-fb-link a {
    background-color: #3a5999;
}

.main-menu a {
    color: #fff;
    font-weight: 700;
}


.acc-guest .sp-guest {
    margin-bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
.acc-guest p {
    margin-bottom: 0;
    padding: 10px 0;
    color: #666;
}
.acc-guest p a {
    display: inline;
    color: #db361f;
    font-weight: bold;
}

.sp-guest p{
    line-height: 0;
    padding: 20px 0 0 0;
    margin: 0;
}
.menu .sp-guest a{
    padding: 0;
}

.list-hang {
    position: relative;
}

.list-hang:hover .dropdown-menu-wrap{
    display: block;
}
.dropdown-menu-wrap {
    z-index: 2;
    position: absolute;
    display: none;
    top: 100%;
    left: -104%;
    width: 600px;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #5095ff;
}
.submenu-2 li {
    width: 25%;
    float: left;
    color: #000;
    text-align: center;
}

.submenu-2 li img{
    max-width: 45px;

}
.submenu-2 li span{
    display: block;
}
.submenu-2 li a{
    height: auto;
    line-height: normal;
    padding-bottom: 15px;
}
.submenu-2 h3{
    color: #000;
}
.submenu-2 li:hover a{
    color: #189eff;
}
.submenu-2 li:last-child a{
    color: #189eff;
}
.submenu-2 li:last-child:hover a{
    color: #008aee;
    text-decoration: underline;
}

#main-menu .menu .cart-li{
    color: #fdd835;
    float: right;
}
#main-menu .menu .cart-li a{
    line-height: 35px;
}

.search-wrap{

}
.search-wrap select{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    vertical-align: top;
    width: 300px;
    padding: 0 10px;
    box-shadow: 0 0 8px 0 #5095ff;
}
.search-wrap a{
    box-shadow: 0 0 8px 0 #5095ff;
    vertical-align: top;
    color:#fff;
    margin-left:10px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    width: 60px;
    text-align: center;
    background-color: #189eff;
    line-height: 40px;
    transition: all 0.1s;
    font-size: 20px;
}

.search-wrap a:hover{
    background-color: #fdd835;
    color: #fff;
}

.slide{
    position: relative;
}

.slide .search-site{
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    z-index:1;
    width:100%;
}

.slide .search-site .search-wrap{
    margin-top: 30px;
    text-align: right;
    float: right;
}
.slide .row{
    height: 0;
}

/*content*/
.product-item {
    border: 1px solid  #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}
.product-item:hover{
    box-shadow: 0 0 8px 0 #5095ff;
}
.product-item:hover .numb-img i{
    opacity:1;
}
.product-item:hover .numb-img{
    background:  rgba(255,255,255,0.6);
}
.product-list{
    margin: 5px 0;
}
.numb-img{
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    background: rgba(255,255,255,0.4);
    transition: all 0.3s;
}
.numb-img i{
    font-size: 23px;
    color: #fff;
    transition: all 0.3s;
    opacity: 0.7;
}
.numb-img span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    font-weight:600;
    color: #666;
}
.item-title {
    margin-top: 5px;
    margin-bottom: 20px;
}
.product label{
    background: #d82222;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
}
.product  span.price{
    float: right;
    color: #008aee;
    font-weight: 600;
}
.item-add{
    text-align: right;
    margin-bottom: 0;
}

.section{
    padding: 20px 0;
}

/**/
.tuvan-item {
    margin: 15px;
    cursor: pointer;
}
.tuvan-item:hover .h4-title{
    color: #008aee;
}
.tuvan-item a i, .compare-item a i{
    margin-right: 5px;
}
.tuvan-item a, .compare-item a {
    color: #008aee;
    transition: all .3s;
}
.tuvan-item a:hover, .compare-item a:hover {
    color: #d82222;
}

.tuvan-item p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.day{
    font-size : 12px;
    color: #666;
}
.h3-title{
    margin-top: 10px;
    margin-bottom: 5px;
}
.h4-title{
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 5px;
    transition: all .3s;
}

.compare-text, .compare-img{
    margin: 15px;
}

.aside-site{
    margin:0 0 0 15px;
}



.news-item , .promotion-item{
    margin-top: 10px;
    cursor: pointer;
}

.news-item:first-child img, .promotion-item:first-child img{
    float: none;
    width: auto;
}
.news-item:first-child .news-text h3, .promotion-item:first-child .promotion-text h3{
    font-size: 1.17em;
    color: #008aee;
    margin-top: 5px;
}

.news-item:hover .news-text h3m, .promotion-item:hover .promotion-text h3{
    color: #008aee;
}

.news-item img, .promotion-item img{
    float: left;
    width: 30%;
    margin-right: 10px;
}
.news-item .news-text h3, .promotion-item .promotion-text h3{
    font-size: 12px;
    margin-top: 15px;
    padding-top: 3px;
    transition: all .3s;
}
/*footer*/
footer{

}
.footer-top{
    background-color: #f6f6f6;
    padding: 30px 0;
}
.footer-top ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-top ul li a{ 
    line-height: 25px;
    font-size: 14px;
}

.footer-top h3{
    color: #008aee;
    margin-bottom: 10px;
    font-size:16px;
}

.footer-center{
    background-color: #189eff;
    padding: 30px 0;
    color: #fff;
}

.footer-center p{
    font-size: 13px;
}

.footer-center .col-30 *{
    padding: 0 30px;
}

.footer-bottom{
    background-color: #008aee;
    padding: 15px 0;
}
.footer-bottom p{
    margin: 0;
    color: #fff;
    text-align: center;
}