/*basic*/

body, html{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.list-inline{
    padding: 0;
    margin: 0;
    list-style:  none;
}
.list-inline li{
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.fleft {
    float:left;
}
.fright {
float:right;
}
.site-btn{
}

.btn{
    border: none;
    color: #fff;
    font-size: 16px ;
    padding: 0 30px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 42px;
    cursor:pointer;
}
.btn-red{
    background: #d82222;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
}
.row::after{
    display: block;
    content:"";
    clear: both;
}

img{
    max-width: 100%;
    vertical-align: top;
}

.clear{
    clear: both;
}

.col-25{
    width: 25%;
    float: left;
   
}

.col-30{
    width:30%;
    float: left;
    padding:15px;
}
.col-70{
    width: 70%;
    float: left;
    padding:15px;
}

.ema_title {
    background: #f5f5f5;
    border: solid 1px #eee;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.ema_title:before{
    
    border: solid 1px #ccc;
    background: #f5f5f5;
    content:"";
    position: absolute;
    height: 28px;
    width: 8px;
    top: 5px;
    left: -5px;

}
.ema_title:after{
    content: "";
    display: block;
    clear: both;
}

.ema_txt {
    color: #3b89c9;
    float: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 0;
    position: relative;
    text-indent: 15px;
}

p{
    font-size: 13px;
    line-height: 20px;
}

ul{
    padding: 0;
    margin: 0;
}

.fright{
    float: right;
}
.fleft{
    float: left;
}
/*-------------------custom---------------*/

/*header*/
header{
    padding-top:15px;
}
.logo-site {
    float: left;
    width: 25%;
}

.banner-site {
    float: right;
    width: 75%;
}
.banner-site img{
    width:100%;
}

nav{
    background-color: #189eff;
}
.menu li{
    color: #fff;
}
.menu li:last-child{
    float: right;
    position:relative;
}
.menu li::after{
    display: block;
    content: "";
    clear: both;
}
.menu li a{
    display: inline-block;
    height: 45px ;
    line-height: 45px;
    padding: 0 20px;
}

.menu>li:hover>a{
    background-color: #008aee;
}

.menu>li:last-child ul{
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 285px;
    padding-top: 15px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #5095ff;
    z-index: 1;
}
.menu>li:last-child:hover ul{
    display: block;
}

.acc-guest li {
    margin-bottom: 11px;
    padding: 0 15px 0;
    width:100%;
}
.acc-guest li>a {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 40px; */
}
.login-link a {
    background-color: #fdd835;
    color: #444;
}
.login-link a, .register-link a {
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.register-link a {
    background-color: #189eff;
}
.login-fb-link a {
    background-color: #3a5999;
}

.main-menu a {
    color: #fff;
    font-weight: 700;
}

.acc-guest .sp-guest {
    margin-bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}
.acc-guest p {
    margin-bottom: 0;
    padding: 10px 0;
    color: #666;
}
.acc-guest p a {
    display: inline;
    color: #db361f;
    font-weight: bold;
}

.sp-guest p{
    line-height: 0;
    padding: 20px 0 0 0;
    margin: 0;
}
.menu .sp-guest a{
    padding: 0;
}

.list-hang {
    position: relative;
}

.list-hang:hover .dropdown-menu-wrap{
    display: block;
}
.dropdown-menu-wrap {
    position: absolute;
    display: none;
    top: 100%;
    left: -104%;
    width: 600px;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #5095ff;
    z-index:1000;
}
.submenu-2 li {
    width: 25%;
    float: left;
    color: #000;
    text-align: center;
}

.submenu-2 li img{
    max-width: 45px;

}
.submenu-2 li span{
    display: block;
}
.submenu-2 li a{
    height: auto;
    line-height: normal;
    padding-bottom: 15px;
}
.submenu-2 h3{
    color: #000;
}
.submenu-2 li:hover a{
    color: #189eff;
}
.submenu-2 li:last-child a{
    color: #189eff;
}
.submenu-2 li:last-child:hover a{
    color: #008aee;
    text-decoration: underline;
}

#main-menu .menu .cart-li{
    color: #fdd835;
    float: right;
}
#main-menu .menu .cart-li a{
    line-height: 35px;
}

.search-wrap{

}
.search-wrap select{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    vertical-align: top;
    width: 300px;
    padding: 0 10px;
    box-shadow: 0 0 8px 0 #5095ff;
}
.search-wrap a{
    box-shadow: 0 0 8px 0 #5095ff;
    vertical-align: top;
    color:#fff;
    margin-left:10px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    width: 60px;
    text-align: center;
    background-color: #189eff;
    line-height: 40px;
    transition: all 0.1s;
    font-size: 20px;
}

.search-wrap a:hover{
    background-color: #fdd835;
    color: #fff;
}

.slide{
    position: relative;
}

.slide .search-site{
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    z-index:1;
    width:100%;
}

.slide .search-site .search-wrap{
    margin-top: 30px;
    text-align: right;
    float: right;
}
.slide .row{
    height: 0;
}

/*content*/
.product-item {
    border: 1px solid  #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}
.product-item:hover{
    box-shadow: 0 0 8px 0 #5095ff;
}
.product-item:hover .numb-img i{
    opacity:1;
}
.product-item:hover .numb-img{
    background:  rgba(255,255,255,0.6);
}
.product-list{
    margin: 5px 0;
}
.numb-img{
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    background: rgba(255,255,255,0.4);
    transition: all 0.3s;
}
.numb-img i{
    font-size: 23px;
    color: #fff;
    transition: all 0.3s;
    opacity: 0.7;
}
.numb-img span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 3px;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    font-weight:600;
    color: #666;
}
.item-title {
    margin-top: 5px;
    margin-bottom: 20px;
}
.product label{
    background: #d82222;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
}
.product span{
    float: right;
    color: #008aee;
    font-weight: 600;
}
.item-add{
    text-align: right;
    margin-bottom: 0;
}

.section{
    padding: 20px 0;
}




/*footer*/
footer{

}
.footer-top{
    background-color: #f6f6f6;
    padding: 30px 0;
}
.footer-top ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-top ul li a{ 
    line-height: 25px;
    font-size: 14px;
}

.footer-top h3{
    color: #008aee;
    margin-bottom: 10px;
    font-size:16px;
}

.footer-center{
    background-color: #189eff;
    padding: 30px 0;
    color: #fff;
}

.footer-center p{
    font-size: 13px;
}

.footer-center .col-30 *{
    padding: 0 30px;
}

.footer-bottom{
    background-color: #008aee;
    padding: 15px 0;
}
.footer-bottom p{
    margin: 0;
    color: #fff;
    text-align: center;
}
/*Trang sản phẩm*/
.filter-title h4 {
margin:0px;
padding:0px;
text-transform:uppercase;
 color:#008aee;
}
.sidebar {
    background: #fff;
    margin-top: 30px;
    border-radius:4px;
    padding:15px 15px 20px;
}
.product-page {
background:#efefef;
}
    .product-page .product-item {
    border-color:#fff;
    background:#fff;
    }
.product-page .col-25 {
    width:33.3333%;
}
.brands {
   height:245px;
    overflow:hidden;
    transition:0.3s ease-in-out;
}
.height-auto {
height:473px;
overflow:auto;
transition:0.3s ease-in-out;

}
.brands-content {
border-bottom:1px solid #efefef;
padding-top:20px;
}
    .brands-content:first-child {
    padding-top:0px;
    }
     .brands-content:last-child {
    border-bottom:none;
    }
.br-price {
border-bottom:none;
height:235px;
}
.col-brands {
   width:50%;
   float:left;
  
}
.col-brands ul{
margin:15px 0px 0px;
padding:0px;
list-style:none;
}
.col-brands ul li a p {
display:inline-block;
margin:0px;

}
    .col-brands ul li {
    margin-bottom:5px;
    cursor:pointer;
    }
    .col-brands ul li a .p1 {
    width:24px;
    vertical-align:sub;
    height:34px;
    }
    .col-brands ul li a p input {
  width:14px;
    height:14px;
    }
    .col-brands ul li a .p2 {
    vertical-align:middle;
    }
      .col-brands ul li a .p2 img {
    vertical-align:middle;
    width:38px;
    }
    .col-brands ul li a .p2 span {
        font-size:14px;
        line-height:34px;
    }
.btn-more {
margin:10px 0px;
display:block;
color:#008aee;
text-align:left;
font-size:15px;
}
    .btn-more span {
    vertical-align:middle;
    color:#008aee;
    }
.col30-btn {
    display:block;
    text-align:center;

}
.col30-btn a {
    color:#fff;
    background:#008aee;
    display:block;
    width:92%;
    padding:7px 0px;
    margin:0 auto;
    border-radius:5px;
    font-weight:600;
}
    .col30-btn a:hover {
    background:#0d77c3;
    }
.paging {
display:block;
text-align:center;
padding:35px 0px 25px;
}
    .paging ul li {
            width: 30px;
    height: 30px;
    text-align: center;
    cursor:pointer;
   
    }
        .paging ul li:hover span {
        color:#008aee;
        font-weight:600;
        }
        .paging ul li span {
        line-height:30px;
        vertical-align:middle;
        }
        .paging ul li.active {
        background:#fff;
        border-radius:3px;
        border:1px solid #008aee;
        }
 /************Giỏ hàng************/
.page-cart {
padding-top:10px;
padding-bottom:80px;
box-sizing:border-box;
}
.cart-content table {
width:100%;
border:1px solid #000;
padding:10px;

}
    .cart-content table tr td {
    padding:10px;
    margin:0px;
    border:1px solid #000;
    text-align:center;
    
    }
    
    .cart-content table tr th {
    padding:10px 0px;
    margin:0px;
    border:1px solid #000;
    text-align:center;
    }
        .cart-content table tr td p {
        margin:0px;
        padding:0px;
        display:inline-block;
        font-size:15px;
        }

        .cart-content table tr td span {
       font-size:13px;
        }

    .cart-content table tr td a{
       border-radius:4px;
        font-size:15px;
        padding:6px 7px;
        background:#efefef;
        font-weight:600;
        color:#444;
        
    }
        .cart-content table tr td a:hover {
        background:#d4d4d4;
        }
    .cart-content table tr td a:first-child{
      margin-right:15px;
        
    }
    .cart-content table tr td:nth-child(1){
        width:60px;
      
    }
.color-red {
color:red;
}

 .cart-content table tr td:nth-child(1) .color-red{
       width:20px;
       height:20px;
      font-size:16px;
      cursor:pointer;
    }
     .cart-content table tr td:nth-child(2){
        width:250px;
    } 
      .cart-content table tr td:nth-child(2) img{
        width:200px;
        height:auto;
    } 
     .cart-content table tr td:nth-child(3){
        width:320px;
    }
      .cart-content table tr td:nth-child(4){
        width:190px;
    } 
      .cart-content table tr td:nth-child(5){
        width:94px;
    }
.cart-title {
padding: 7px 0px;
margin: 30px 0px 15px;
}
.cart-title h2{
margin:0px;
padding:0px 0px 0px 15px;
text-transform:uppercase;
}
.cart-title {
position:relative;
}
    .cart-title:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:4.5px;
    background:red;
    }